@import "tailwindcss";
@keyframes premium-gold-shine {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.blur-load {
  position: relative;
  overflow: hidden;
}

.blur-load img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(20px);
  transform: scale(1.1);
  transition: filter 0.5s ease, transform 0.5s ease;
}

.blur-load.loaded img {
  filter: blur(0);
  transform: scale(1);
}

